{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%  block content %}
        <div style="width:400px; margin-right:auto; margin-left:auto; border:1px solid #000;"></div>
            <h1>  Register </h1>
            <h3> Register your account</h3>
            <form  method="post" >
                {{ form|crispy }}
                {%  csrf_token  %}
                <hr>
                 <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
      {%  if  form.errors  %}
        <p>Your  username  and  password  didn't  match.  Please  try  again.</p>
    {%  endif  %}
{%  endblock %}